<% layout('layout/boilerplate') -%>
<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active mainImg" data-bs-interval="2000">
      <img
        src="https://res.cloudinary.com/ddw8h2m1v/image/upload/v1670275668/tarpitCafe/P1040349_sjfk5i_mx9kbq.png"
        alt="..."
      />
    </div>
    <% uri.forEach((img) =>{ %>
    <div class="carousel-item mainImg" data-bs-interval="2000">
      <img src="<%=img%>" alt="..." />
    </div>
    <% }) %>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="wrapper">
  <a href="/products">
    <button class="shopBtn">
      Shop Now!
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </a>
</div>

<div class="homeCatch container">
  <h1>WE’RE EXPERTS IN COFFEE and MOTO</h1>
  <p>Not enthusiasts. There’s a difference. Who are these nerds?</p>
  <a href="/about" class="btn">Get to Know us</a>
</div>

<div class="homeShop">
  <div class="homeClick">
    <a href="/products?query=Apparel"
      ><img
        src="https://res.cloudinary.com/ddw8h2m1v/image/upload/v1670276796/tarpitCafe/shopApparel_mvhjio.jpg"
        alt=""
    /></a>
  </div>
  <div class="homeClick">
    <a href="/products?query=Goods"
      ><img
        src="https://res.cloudinary.com/ddw8h2m1v/image/upload/v1670276798/tarpitCafe/shopAccessories_npg4bf.jpg"
        alt=""
    /></a>
  </div>
</div>

<div class="container">
  <h1>Checkout new products</h1>
  <div class="cardContainerH">
    <% for(let product of products) {%>
    <div class="card cardShapeH">
      <a href="/products/<%=product._id%>">
        <% if(product.image.length > 1) {%>
        <div
          id="carouselExampleFade"
          class="carousel slide carousel-fade"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <% for(let img of product.image){ %>
            <div class="carousel-item active">
              <img
                src="<%=img.url%>"
                class="card-img-top"
                style="
                  height: 20rem;
                  border-radius: 0%;
                  object-fit: cover;
                  width: 100%;
                "
                alt="My product"
              />
            </div>
            <% }%>
          </div>
        </div>
        <% } else{ %> <% for(let img of product.image){ %>

        <img
          src="<%=img.url%>"
          class="card-img-top"
          style="
            height: 20rem;
            border-radius: 0%;
            object-fit: cover;
            width: 100%;
          "
          alt="My product"
        />
        <%} }%>

        <div class="card-text">
          <h4 style="margin-bottom: 0"><%=product.title%></h4>
          $<%=product.price%>
        </div>
      </a>
    </div>
    <%} %>
  </div>

  <h1>Interested In blogs? Read Here!</h1>
  <div class="containerBlog">
    <% for(let blog of blogs) {%>
    <div class="card cardShape blogCard" style="max-width: 22rem">
      <a href="/blogs/<%=blog._id%>">
        <img
          src="<%=blog.image[0].url%>"
          style="height: 14rem"
          alt="My product"
        />

        <div class="cardBody">
          <h4 style="color: black; padding: 10px"><%=blog.title%></h4>
          <span class="lineClamp"> <%=blog.desc%></span>
          <div
            style="
              padding-left: 10px;
              padding-top: 10px;
              color: rgb(46, 46, 46);
            "
          >
            <a href="/blogs/<%=blog._id%>" style="color: rgb(46, 46, 46)">
              Read more
            </a>
          </div>
        </div>
      </a>
    </div>
    <%} %>
  </div>
</div>
