<% layout('layout/boilerplate') -%>
<div class="container mt-4" >
    <h1>All products</h1>
    <div>
        <a href="/products/new" class="btn btn-primary mb-3" role="button">Add product</a>
    </div>
          <div class="grid text-center">
            <div class="row row-cols-4 mb-3">
                <% for(let product of products) {%>
                    <div class="g-col-6 g-col-md-4 mb-3">
                         <div class="card" style="width: 18rem; height: 24rem;">
                        <% for(let img of product.image){ %> 
                            <img src="<%=img.url%>" class="card-img-top" style="height: 12rem" alt="My product">
                            <% } %> 
                        <div class="card-body">
                            <h5 class="card-title"><%=product.title%></h5> 
                            <p class="card-text">
                               $ <%=product.price%> 
                            </p>
                            <a class='btn btn-primary'href="/products/<%=product._id%>">View&nbsp;<%= product.title %></a>
                        </div>
                      </div>
                     </div>
                    <%} %> 
            </div>
          </div>
</div>