<% layout('layout/boilerplate') -%>
<link rel="stylesheet" href="/stylesheets/empPop.css" />
<div id="map" style="height: 85vh; width: 100vw"></div>

<div class="bar">
  <span class="bar_content">
    <div><h1 style="color: white">BROOKLYN</h1></div>
    <div><b> 135 Woodspoint Road Brooklyn, NY, 11211</b></div>
    <div>
      <em> hours Mon-Fri: 8:00am-3:00pm, Sat-Sun: 9:00am-4:00pm </em>
    </div>
    <div>
      <em> Phone +1 917 705 8031</em>
    </div>
  </span>
</div>
<section class="container">
  <div class="des">
    <h1>In the begining</h1>
    <p>
      “In 2010 I was talking with friends and we decided that we needed a better
      place to hang out. Where we didn’t feel like we had to drink alcohol, had
      to buy dinner, or leave after a certain amount of time. By early 2011 I
      found the perfect location. Tar Pit started as a dream to for a cool hang
      out spot. We built everything in the shop by hand. This includes removing
      beams from a friends Brooklyn warehouse for the counter tops to custom
      fitting the bathroom sink and vintage knobs - its all been an act of love.
      We wanted to feel like we were sitting around the living room of our
      favorite grandparent. Both nostalgic and comfortable aaaand maybe a little
      bit weird. Over the years we’ve changed it up but that same feeling is
      important. Comfort, familiarity and good company. There were just a few
      things that mattered at that time. Making delicious coffee, riding
      motorcycles, adding little nods to our Japanese heritage and supporting
      our friends in the art world. We have hosted art shows, live music, live
      paintings as often as possible and through those events give back to our
      local communities. Honestly, not much has changed. We still love a great
      coffee, motorcycles, music and art. We still love hanging out with our
      friends and sharing ideas and we still do what we can to support our
      communities. The coffee shop has allowed us to expand that friend group to
      the entire neighborhood. Tar Pit is a community that has grown over the
      years. Our employees new and old have become part of our families and our
      customers becoming close friends.”

      <br />- Kerry Sano, FOUNDER
    </p>
  </div>

  <% var i = 1%>
  <div class="cont">
    <h2>Meet the Team</h2>
    <div class="con2">
      <% for(let emp of employee){ %> <% var modal= `modal${i}` %>
      <div class="empContainer">
        <button data-modal-target="<%=modal%>" class="imgBtn">
          <%for(let img of emp.image){%>
          <img
            src="<%=img.url%>"
            style="height: 12rem"
            class="empImg"
            alt="employee image"
          />
          <% } %>
        </button>
        <h3><%=emp.employeeName%></h3>
      </div>
    </div>
    <div class="modal" id="<%=modal%>">
      <div class="modal-content">
        <span class="modal-close">&times;</span>
        <div class="modalCon">
          <div>
            <h1><%=emp.employeeName%></h1>
            <p><%=emp.employeeDes %></p>
          </div>
          <div>
            <%for(let img of emp.image){%>
            <img src="<%=img.url%>" alt="employee image" class="modalImg" />
            <% } %>
          </div>
        </div>
      </div>
      <% i++ %>
    </div>
    <%}%>
  </div>
</section>

<script>
  mapboxgl.accessToken = "<%-process.env.mapboxToken%>";
  const map = new mapboxgl.Map({
    container: "map",
    // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
    style: "mapbox://styles/tarpitcafe/clbbpj4z6001a14o2e3qv2590",
    center: [-73.94119711179343, 40.71751710581903],
    zoom: 12,
  });
  // Create a default Marker, colored black, rotated 45 degrees.
  new mapboxgl.Marker({ color: "black", rotation: 45 })
    .setLngLat([-73.94119711179343, 40.71751710581903])
    .addTo(map);
  map.scrollZoom.disable();
  const nav = new mapboxgl.NavigationControl({
    visualizePitch: true,
  });
  map.addControl(nav, "bottom-right");
  map.on("click", (event) => {
    const popup = new mapboxgl.Popup({ offset: [0, -15] })
      .setLngLat([-73.94119711179343, 40.71751710581903])
      .setHTML(
        '<h3>Tarpit</h3><p style="font-size:15px;">135 Woodpoint Road,Brooklyn, NY 1121</p> <a href="https://goo.gl/maps/JV7nWxu2wcKTkhsz5" style="color: blue";>Open on google Maps</a>'
      )
      .addTo(map);
  });
</script>
